<mat-card class="centered-card">
  <mat-toolbar class="toolbar">
    <span>Gestion Requêtes</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="navigateToNew()">Ajouter</button>
  </mat-toolbar>
  <mat-card-content class="centered-content">
    <div class="filter-container">
      <mat-form-field appearance="outline">
        <mat-label>Statuts</mat-label>
        <mat-select [(ngModel)]="selectedStatut" (selectionChange)="applyFilter()">
          <mat-option value="">Tous</mat-option>
          <mat-option value="aRisque">A risque</mat-option>
          <mat-option value="nonRisque">Non risque</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom Requête</mat-label>
        <input matInput [(ngModel)]="filterNomRequete" (input)="applyFilter()">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Application</mat-label>
        <mat-select [(ngModel)]="selectedApplication" (selectionChange)="applyFilter()">
          <mat-option value="">Toutes</mat-option>
          <mat-option value="PIDI">PIDI</mat-option>
          <mat-option value="Habilitation">Habilitation</mat-option>
          <mat-option value="MOBI">MOBI</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
      <ng-container matColumnDef="nomRequete">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nom Requête</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.namerequete }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="requete">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Requête</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="downloadReqProd(element.id, element.nom)">Voir contenu</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="a_risque">
        <mat-header-cell *matHeaderCellDef mat-sort-header>A Risque</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.a_risque ? 'Oui' : 'Non' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="solution">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Solution</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.solution }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions" >
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <div *ngIf="userService.getUserRole()== 'ADMIN' ">
          <button mat-icon-button color="primary" (click)="editRequete(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRequete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </mat-card-content>
  <div class="centered-pagination">
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 100]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  </div>
</mat-card>
