h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

.form-row label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"], select {
  margin-right: 10px;
}

input[type="file"] {
  margin-right: 20px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
}
.btn-orange {
  background-color: orange;
  color: white;
}

.btn-generate {
  background-color: orange;
  color: white;
}

.btn-export {
  background-color: steelblue;
  color: white;
}

.btn-generate i,
.btn-export i {
  margin-right: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: center;
}

.text-primary {
  color: blue;
}

.text-success {
  color: green;
}

.flex {
  display: flex;
  justify-content: center;
}

.buttons {
  justify-content: center;
}


.bi-trash3-fill {
  color: red;
}

.bi-copy {
  color: blue;
}
