<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Ajouter un Template</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="templateForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="form-field">
          <mat-form-field class="full-width">
            <mat-label>Nom de la Demande : </mat-label>
            <input matInput formControlName="nomDemande" required>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Type de Template</mat-label>
            <mat-select formControlName="typetemp" required>
              <mat-option *ngFor="let type of templateTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field class="full-width">
            <mat-label>Requêtes : </mat-label>
            <textarea matInput formControlName="requetes" required></textarea>
          </mat-form-field>
        </div>
        <div class="form-field">
          <input type="file" (change)="onFileSelected($event)">
        </div>
        <br><br>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Enregistrer</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
