<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="widget-card">
        <div class="widget-content py-2 px-2">
          <h5>Utilisateurs</h5>
          <p>4 utilisateurs</p>
        </div>
        <div class="widget-icon py-3">
          <i class="bi bi-people-fill"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget-card">
        <div class="widget-content py-2 px-2">
          <h5>Demandes</h5>
          <p>30 demandes</p>
        </div>
        <div class="widget-icon py-3">
          <i class="bi bi-chat-left-dots-fill"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget-card">
        <div class="widget-content py-2 px-2">
          <h5>Requetes</h5>
          <p>114 requetes</p>
        </div>
        <div class="widget-icon py-3">
          <i class="bi bi-envelope-fill"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget-card">
        <div class="widget-content py-2 px-2">
          <h5>Templates</h5>
          <p>8 Templates</p>
        </div>
        <div class="widget-icon py-3">
          <i class="bi bi-exclamation-triangle-fill"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="spacing"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="widget-card oval">
        <h5>Schéma de l'application</h5>
        <p>Schéma englobe les deux app PIDI et habilitation</p>
        <app-network></app-network>
      </div>
    </div>
    <div class="col-md-6">
      <div class="widget-card same-height">
        <h5>Demandes traitées par utilisateur</h5>
        <canvas id="pieChart"></canvas>
      </div>
    </div>
  </div>
</div>
