<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Gestion des activités
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <nav class="p-3">
        <ul class="nav nav-pills">
          <li *ngFor="let action of actions">
            <button
              routerLink="{{action.route}}"
              [class]="action==currentAction
        ?'btn btn-info ms-1':'btn btn-outline-info ms-1'"
            >
              {{action.title}}
              <i class="bi bi-{{action.icon}}"></i>
            </button>
          </li>
        </ul>
      </nav>

      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


